.container
  .profile-content{"ng-controller" => "WelcomeController as welcome"}
    .row.back
      %button.btn.btn-info.btn-xs{:type => "button", "ng-click" => "changeView('/')"}
        %i.fa.fa-backward
        Atrás
    .wrap.clearfix
      / Avatar
      .col-sm-3.col-xs-12.game-img-details
        .thumbnail
          %img{:alt => "", "ng-src" => "{{game.large_cover}}", :style => "width: 270px", "ng-hide" => "game.large_cover === 'not_available'"}
          %img{:alt => "", "ng-src" => "{{game.small_cover}}", :style => "width: 270px", "ng-show" => "game.large_cover === 'not_available'"}
      / End Avatar
      .col-sm-9.col-xs-12
        .col-xs-12.content
          %h3
            {{game.title}}
            \-
            {{game.platform}}
          .description-box
            %p{"ng-init" => "limit= 460; more = false"}
              {{game.description | limitTo:limit}}
              %span{"ng-hide" => "game.description.length <= limit"}
                \...
              %a{href: "", "ng-click" => "limit = game.description.length; more = true", "ng-hide" => "more || game.description.length <= limit"} Ver más
              %a{href: "", "ng-click" => "limit = 460; more = false", "ng-show" => "more"} Ver menos
          .game-details
            %p{"ng-hide" => "game.genre === null"}
              %b
                Genero:
              %span{"ng-repeat" => "genre in game.genre"}
                %a{href: ""}
                  {{genre}}
                %span{"ng-show" => "($index + 1) < game.genre.length "}
                  |
            %p{"ng-hide" => "game.developer === null"}
              %b
                Desarrollador:
              {{game.developer}}
            %p{"ng-hide" => "game.publisher === null"}
              %b
                Distribuidor:
              {{game.publisher}}
            %p{"ng-hide" => "game.players === null"}
              %b
                Jugadores:
              {{game.players}}
            %p{"ng-hide" => "game.duration === null"}
              %b
                Duración:
              {{game.duration}}
            %p{"ng-hide" => "game.release_date === null"}
              %b
                Fecha de lanzamiento:
              {{game.release_date}}
            %p{"ng-hide" => "game.game_dlc_title === null"}
              %b
                Tipo:
              DLC de
              %a{"href" => "", "ng-click" => "get_game(game.game_dlc_id)"}
                {{game.game_dlc_title}}
    %hr
    %ul.nav.nav-tabs
      %li.active{:role => "presentation"}
        %a{:href => ""}
          %i.fa.fa-comments
          Comentarios
          %span.badge
            0
      %li{:role => "presentation"}
        %a{:href => ""}
          Gameplays
          %span.badge
            0
      %li{:role => "presentation"}
        %a{:href => ""}
          Imágenes
          %span.badge
            0
      %li{:role => "presentation"}
        %a{:href => ""}
          Reseñas
          %span.badge
            0
      %li{:role => "presentation"}
        %a{:href => ""}
          Quién lo vende?
          %span.badge
            0
    .comments-section
      .container
        .row{"ng-repeat" => "comment in game_comments"}
          .col-sm-1
            .thumbnail
              %img.img-responsive.user-photo{"ng-src" => "{{comment.user_profile_pic}}?type=normal"}/
            / /thumbnail
          / /col-sm-1
          .col-sm-7
            .panel.panel-default
              .panel-heading
                %strong {{comment.user_first_name}}
                %span.text-muted - hace {{comment.created_at}}
              .panel-body
                {{comment.content}}
        %form{"ng-submit" => "saveGameComment(game)"}
          .row
            .col-sm-1
              .thumbnail
                %img.img-responsive.user-photo{:src => "#{current_user.profile_picture}?type=normal"}/
              / /thumbnail
            / /col-sm-1
            .col-sm-7
              .panel.panel-default{:style => "margin-bottom: 3px;"}
                .panel-heading
                  %strong
                    = "#{current_user.first_name} dice:"
                %textarea.panel-body.form-control{:rows => "2", :placeholder => "Escribe tu comentario aqui...", "ng-model" => "content"}
              %button.btn.btn-success{:type => "submit", :style => "float:right;"}
                %i.fa.fa-comment
                Comentar
